In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('Dataset_Day6.csv')
data.head()

,Area,BHK,Bathroom,Furnishing,Parking,Price,Status,Transaction,Type
0,800.0,3,2.0,Semi-Furnished,1.0,6500000,Ready_to_move,New_Property,Builder_Floor
1,750.0,2,2.0,Semi-Furnished,1.0,5000000,Ready_to_move,New_Property,Apartment
2,950.0,2,2.0,Furnished,1.0,15500000,Ready_to_move,Resale,Apartment
3,600.0,2,2.0,Semi-Furnished,1.0,4200000,Ready_to_move,Resale,Builder_Floor
4,650.0,2,2.0,Semi-Furnished,1.0,6200000,Ready_to_move,New_Property,Builder_Floor

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Parking      1226 non-null   float64
 5   Price        1259 non-null   int64
 6   Status       1259 non-null   object
 7   Transaction  1259 non-null   object
 8   Type         1254 non-null   object
dtypes: float64(3), int64(2), object(4)
memory usage: 88.6+ KB

In [4]:
# Check for missing values
missing_values = data.isna().sum()
print(missing_values)

Area            0
BHK             0
Bathroom        2
Furnishing      5
Parking        33
Price           0
Status          0
Transaction     0
Type            5
dtype: int64

In [5]:
data['Bathroom'].fillna(data['Bathroom'].median(),inplace=True)

data['Furnishing'].fillna(data['Furnishing'].mode()[0],inplace=True)
data['Parking'].fillna(data['Parking'].median(),inplace=True)

data['Type'].fillna(data['Type'].mode()[0],inplace=True)
data.isna().sum()

Area           0
BHK            0
Bathroom       0
Furnishing     0
Parking        0
Price          0
Status         0
Transaction    0
Type           0
dtype: int64

In [6]:

Q1 = data['Price'].quantile(0.25)
Q3 = data['Price'].quantile(0.75)
IQR = Q3 - Q1


data = data[(data['Price'] >= Q1 - 1.5 * IQR) & (data['Price'] <= Q3 + 1.5 * IQR)]
print(len(data))

1155

In [8]:
data['BHK']=data['BHK'].astype(str)
data['BHK']=data['BHK'].astype(str)
data['BHK']=data['BHK'].astype(str)
data=pd.get_dummies(data)
print('Encoded Dataset:')
print(data)

Encoded Dataset:
         Area  Bathroom  Parking     Price  BHK_1  BHK_10  BHK_2  BHK_3  \
0       800.0       2.0      1.0   6500000  False   False  False   True
1       750.0       2.0      1.0   5000000  False   False   True  False
2       950.0       2.0      1.0  15500000  False   False   True  False
3       600.0       2.0      1.0   4200000  False   False   True  False
4       650.0       2.0      1.0   6200000  False   False   True  False
...       ...       ...      ...       ...    ...     ...    ...    ...
1254   4118.0       5.0      3.0  55000000  False   False  False  False
1255   1050.0       2.0      3.0  12500000  False   False  False   True
1256    875.0       3.0      3.0  17500000  False   False  False   True
1257    990.0       2.0      1.0  11500000  False   False   True  False
1258  11050.0       3.0      1.0  18500000  False   False  False   True

      BHK_4  BHK_5  ...  BHK_7  Furnishing_Furnished  \
0     False  False  ...  False                 False
1     False  False  ...  False                 False
2     False  False  ...  False                  True
3     False  False  ...  False                 False
4     False  False  ...  False                 False
...     ...    ...  ...    ...                   ...
1254   True  False  ...  False                 False
1255  False  False  ...  False                 False
1256  False  False  ...  False                 False
1257  False  False  ...  False                 False
1258  False  False  ...  False                 False

      Furnishing_Semi-Furnished  Furnishing_Unfurnished  Status_Almost_ready  \
0                          True                   False                False
1                          True                   False                False
2                         False                   False                False
3                          True                   False                False
4                          True                   False                False
...                         ...                     ...                  ...
1254                      False                    True                False
1255                       True                   False                False
1256                       True                   False                False
1257                      False                    True                False
1258                      False                    True                False

      Status_Ready_to_move  Transaction_New_Property  Transaction_Resale  \
0                     True                      True               False
1                     True                      True               False
2                     True                     False                True
3                     True                     False                True
4                     True                      True               False
...                    ...                       ...                 ...
1254                  True                      True               False
1255                  True                     False                True
1256                  True                      True               False
1257                  True                     False                True
1258                  True                      True               False

      Type_Apartment  Type_Builder_Floor
0              False                True
1               True               False
2               True               False
3              False                True
4              False                True
...              ...                 ...
1254           False                True
1255           False                True
1256           False                True
1257           False                True
1258           False                True

[1155 rows x 21 columns]

In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder



X = data.drop('Price', axis=1)  
y = data['Price']  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)


model = LinearRegression()


model.fit(X_train, y_train)


y_pred = model.predict(X_test)


r2 = r2_score(y_test, y_pred)
adjusted_r2 = 1 - (1 - r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)
mae = mean_absolute_error(y_test, y_pred)


print("Model Performance Metrics:")
print("R2 Score:", r2)
print("Adjusted R2 Score:", adjusted_r2)
print("Mean Absolute Error (MAE):", mae)

Model Performance Metrics:
R2 Score: 0.5127155908467746
Adjusted R2 Score: 0.4663075518798008
Mean Absolute Error (MAE): 7173683.981807511

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder


# Split the data into training and testing sets
X = data.drop('Price', axis=1)  # Features
y = data['Price']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

# Create the Ridge regression model
ridge_model = Ridge()

# Fit the model to the training data
ridge_model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = ridge_model.predict(X_test)

# Calculate the model performance metrics for Ridge Regression
r2 = r2_score(y_test, y_pred)
adjusted_r2 = 1 - (1 - r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)
mae = mean_absolute_error(y_test, y_pred)

# Print the model performance metrics for Ridge Regression
print("Ridge Regression Model Performance Metrics:")
print("R2 Score:", r2)
print("Adjusted R2 Score:", adjusted_r2)
print("Mean Absolute Error (MAE):", mae)

Ridge Regression Model Performance Metrics:
R2 Score: 0.5112909759838202
Adjusted R2 Score: 0.4647472594108507
Mean Absolute Error (MAE): 7177213.899675919

In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score, mean_absolute_error
from sklearn.preprocessing import OneHotEncoder


# Split the data into training and testing sets
X = data.drop('Price', axis=1)  # Features
y = data['Price']  # Target variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

# Create the Lasso regression model
lasso_model = Lasso()

# Fit the model to the training data
lasso_model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = lasso_model.predict(X_test)

# Calculate the model performance metrics for Lasso Regression
r2 = r2_score(y_test, y_pred)
adjusted_r2 = 1 - (1 - r2) * (len(y_test) - 1) / (len(y_test) - X_test.shape[1] - 1)
mae = mean_absolute_error(y_test, y_pred)

# Print the model performance metrics for Lasso Regression
print("Lasso Regression Model Performance Metrics:")
print("R2 Score:", r2)
print("Adjusted R2 Score:", adjusted_r2)
print("Mean Absolute Error (MAE):", mae)

Lasso Regression Model Performance Metrics:
R2 Score: 0.5127153725313313
Adjusted R2 Score: 0.46630731277241044
Mean Absolute Error (MAE): 7173684.511250141

C:\Users\hp\OneDrive\Documents\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.082e+15, tolerance: 1.412e+13
  model = cd_fast.enet_coordinate_descent(